@import "tailwindcss";

@theme {
  /* Tu Paleta Original */
  --color-brand-light: #F2F2F2;    /* Gris muy claro */
  --color-brand-dark: #2A2859;     /* Azul oscuro (Ahora será el color del texto) */
  --color-brand-orange: #F2994B;   /* Naranja Principal */
  --color-brand-accent1: #F2784B;
  --color-brand-accent2: #F25E5E;

  --image-brand-gradient: linear-gradient(to right, var(--color-brand-orange), var(--color-brand-accent1), var(--color-brand-accent2));
}

/* Estilos base CLAROS */
body {
  /* Fondo gris muy suave (casi blanco) para que no canse la vista */
  background-color: #FAFAFA; 
  /* Texto principal en Azul Oscuro */
  color: var(--color-brand-dark);
  font-family: system-ui, -apple-system, sans-serif;
}